doctype html
html
  head
    title= pageTitle || 'Heroku Java Deployment Demo'
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='main.css')
  body
    .jumbotron
      .container
        h1.text-center= header || 'Hello World!'
        p.text-center Java apps are a snap to deploy, a joy to manage, and a cinch to scale on Heroku.
        p.text-center Come see why thousands of Java devs are hosting their apps on Heroku.
        .lang-logo
          span.helper
          img(src='https://d2ifv2gvanh00s.cloudfront.net/assets/public/getting-started/java-logo_2x-32beae8858499f7f2efa4f60cb0e641be46086c894b2c19ba3a2ed125c17098c.png')
        p.text-center Learn more at <a href="#">https://www.heroku.com/java</a>